@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
  margin: auto;
  padding-right: 1em;
  padding-left: 1em;
  max-width: 55em; 
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  line-height: 140%;
  color: #333; 
}
pre, code {
  /*border: 1px dotted rgb(128, 128, 128);*/
  background-color: #e9f1f5;
  color: #111111;
  padding: 0.5em;
  font-family: monospace;
}
a {
  color: blue;
}

h1 a, h2 a, h3 a, h4 a, h5 a { 
  text-decoration: none;
  color: #080808;  
}
h1, h2, h3, h4, h5 { font-family: Arial, Helvetica, sans-serif;
                   font-weight: bold;
                   border-bottom: 1px dotted black;
                   color: #191b92; }
h1 {
      font-size: 130%;
}

h2 {
      font-size: 110%;
}

h3 {
      font-size: 95%;
}

h4 {
      font-size: 90%;
      font-style: italic;
}

h5 {
      font-size: 90%;
      font-style: italic;
}

h1.title {
      font-size: 200%;
      font-weight: bold;
      padding-top: 0.2em;
      padding-bottom: 0.2em;
      text-align: center;
      border: none;
      text-decoration: underline;
}

dt code {
      font-weight: bold;
}

dd p {
      margin-top: 0;
}

#footer {
      padding-top: 1em;
      font-size: 70%;
      color: gray;
      text-align: center;
      }

.footnotes footnotes-end-of-document{
  font-size: 12px;
  color: var(--color-fg-muted);
  border-top: 1px solid var(--color-border-default);
      
}

.author {
	text-align: center;
	font-size: 13px;
	
}

.date {
	
	text-align: center;
	font-size: 13px;
}