<!doctype html>
<html>
<head>
  <meta charset='utf-8'>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <title>Kitaplarım</title>
  <style>
    a:visited {
      color: blue;
    }
  </style>
</head>
<body ng-app="booksApp" ng-controller="myCtrl">
  <h2>Kitap Listesi</h2>
  Filtre: 
    <select ng-model="sortFilter">
    
      <option value=""> Tümü </option>
      <option value="Okundu"> Okundu  </option>
      <option value="Okunacak"> Okunacak </option>
    
  </select>
  <hr>

  <table border='1'>
    <caption>{{ (myBooks | filter: {Status: 'Okundu' } : true).length }} okunmuş, {{ (myBooks | filter: {Status: 'Okunacak' } : true).length }} okunmamış kitap. Toplam {{ myBooks.length }} kitap. </caption>
    <tr>
      <th>#</th>
      <th>Yazar</th>
      <th>Kitap Adı</th>
      <th>Durum</th>
    </tr>
    <!--<tr ng-repeat="book in myBooks | orderBy:'Status'">-->
      <tr ng-repeat="book in myBooks | filter: (!!sortFilter || undefined) && {Status: sortFilter}">
      <td>{{$index + 1}}</td> 
      <td><a target='_blank' href="https://www.google.com/search?q={{book.Author}}">{{book.Author}}</a></td>
      <td><a target='_blank' href="https://www.google.com/search?q={{book.KitapAdi}}">{{book.KitapAdi}}</a></td>
      <td>{{book.Status}}</td>
    </tr>
       
  </table>



</body>





<script>

var app = angular.module('booksApp', []);
app.controller('myCtrl', function($scope){


$scope.myBooks = [
  {
    "Author": "Marcus Aurelius",
    "KitapAdi": "Meditations",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "George R.R. Martin",
    "KitapAdi": "A Dance With Dragons",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "George R.R. Martin",
    "KitapAdi": "A Feast For Crows",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "George R.R. Martin",
    "KitapAdi": "A Storm of Swords",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "George R.R. Martin",
    "KitapAdi": "A Clash of Kings",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "George R.R. Martin",
    "KitapAdi": "A Game of Thrones",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Rich Roll",
    "KitapAdi": "Finding Ultra",
    "Status": "Okundu",
    "Tarih": 2019
  },
  {
    "Author": "David Goggins",
    "KitapAdi": "Can't Hurt Me",
    "Status": "Okundu",
    "Tarih": 2019
  },
  {
    "Author": "John E. Sarno",
    "KitapAdi": "Mind-Body Prescription",
    "Status": "Okunacak",
    "Tarih": ""
  },
  {
    "Author": "Patrick McKeown",
    "KitapAdi": "The Oxygen Advantage",
    "Status": "Okunacak",
    "Tarih": ""
  },
  {
    "Author": "Aldous Huxley",
    "KitapAdi": "Cesur Yeni Dünya",
    "Status": "Okunacak",
    "Tarih": ""
  },
  {
    "Author": "George Orwell",
    "KitapAdi": 1984,
    "Status": "Okundu",
    "Tarih": 2019
  },
  {
    "Author": "George Orwell",
    "KitapAdi": "Hayvan Çiftliği",
    "Status": "Okundu",
    "Tarih": 2019
  },
  {
    "Author": "James Dashner",
    "KitapAdi": "The Maze Runner",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "James Dashner",
    "KitapAdi": "The Scorch Trials",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "James Dashner",
    "KitapAdi": "The Death Cure",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Lois Lowry",
    "KitapAdi": "The Giver",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Veronica Roth",
    "KitapAdi": "Divergent",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Veronica Roth",
    "KitapAdi": "Insurgent",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Veronica Roth",
    "KitapAdi": "Allegiant",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Suzanne Collins",
    "KitapAdi": "The Hunger Games",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Suzanne Collins",
    "KitapAdi": "Catching Fire",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Suzanne Collins",
    "KitapAdi": "Mockingjay",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Jesse Itzler",
    "KitapAdi": "Living with the Monks",
    "Status": "Okundu",
    "Tarih": 2019
  },
  {
    "Author": "Jesse Itzler",
    "KitapAdi": "Living with a Seal",
    "Status": "Okundu",
    "Tarih": 2019
  },
  {
    "Author": "Tom Brady",
    "KitapAdi": "The TB12 Method",
    "Status": "Okundu",
    "Tarih": 2019
  },
  {
    "Author": "George R.R. Martin",
    "KitapAdi": "Fire and Blood",
    "Status": "Okundu",
    "Tarih": 2019
  },
  {
    "Author": "Orson Scott Card",
    "KitapAdi": "Ender's Game",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Orson Scott Card",
    "KitapAdi": "Speaker for the Dead",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Ilber Ortayli",
    "KitapAdi": "Bir Ömür Nasıl Yaşanır",
    "Status": "Okundu",
    "Tarih": 2019
  },
  {
    "Author": "Tim Ferriss",
    "KitapAdi": "4 Hour Work Week",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Satya Nadella",
    "KitapAdi": "Hit Refresh",
    "Status": "Okundu",
    "Tarih": 2019
  },
  {
    "Author": "Ernest Hemingway",
    "KitapAdi": "The Old Man and The Sea",
    "Status": "Okundu",
    "Tarih": 2019
  },
  {
    "Author": "Phil Jackson",
    "KitapAdi": "Eleven Rings",
    "Status": "Okundu",
    "Tarih": 2018
  },
  {
    "Author": "Jocko Willink",
    "KitapAdi": "Discipline Equals Success",
    "Status": "Okundu",
    "Tarih": 2018
  },
  {
    "Author": "Jeff Benedict",
    "KitapAdi": "Tiger Woods",
    "Status": "Okundu",
    "Tarih": 2018
  },
  {
    "Author": "Roland Lazenby",
    "KitapAdi": "Showboat: The Life of Kobe Bryant",
    "Status": "Okundu",
    "Tarih": 2017
  },
  {
    "Author": "Kobe Bryant",
    "KitapAdi": "The Mamba Mentality",
    "Status": "Okundu",
    "Tarih": 2019
  },
  {
    "Author": "Ridvan Akar",
    "KitapAdi": "Bir Dünya Kurmak - Hüsnü Özyeüin in Yaşam Öyküsü",
    "Status": "Okundu",
    "Tarih": 2017
  },
  {
    "Author": "Brad Stone",
    "KitapAdi": "The Everything Store: Jeff Bezos and the Age of Amazon",
    "Status": "Okundu",
    "Tarih": 2017
  },
  {
    "Author": "Sabahattin Ali",
    "KitapAdi": "Kuyucaklı Yusuf",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Sabahattin Onkibar",
    "KitapAdi": "İtiraflarım",
    "Status": "Okundu",
    "Tarih": 2019
  },
  {
    "Author": "Sabahattin Ali",
    "KitapAdi": "İçimizdeki Şeytan",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "William Golding",
    "KitapAdi": "Lord of the Flies",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Stephen King",
    "KitapAdi": "The Green Mile",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Stefan Zweig",
    "KitapAdi": "Satranç",
    "Status": "Okundu",
    "Tarih": "2019"
  },
  {
    "Author": "Ernest Hemingway",
    "KitapAdi": "Silahlara Veda",
    "Status": "Okundu",
    "Tarih": 2002
  },
  {
    "Author": "Marlo Morgan",
    "KitapAdi": "Bir Çift Yürek",
    "Status": "Okundu",
    "Tarih": 2002
  },
  {
    "Author": "Walter Isaacson",
    "KitapAdi": "Steve Jobs",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Walter Isaacson",
    "KitapAdi": "Einstein",
    "Status": "Okunacak",
    "Tarih": ""
  },
  {
    "Author": "J.K. Rowling",
    "KitapAdi": "Harry Potter and the Philosopher's Stone",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "J.K. Rowling",
    "KitapAdi": "Harry Potter and the Chamber of Secrets",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "J.K. Rowling",
    "KitapAdi": "Harry Potter and the Prisoner of Azkaban",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "J.K. Rowling",
    "KitapAdi": "Harry Potter and The Goblet of Fire",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "J.K. Rowling",
    "KitapAdi": "Harry Potter and The Order of the Phoenix",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "J.K. Rowling",
    "KitapAdi": "Harry Potter and The Half Blood Prince",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "J.K. Rowling",
    "KitapAdi": "Harry Potter and The Deathly Hallows",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "John Tiffany",
    "KitapAdi": "Harry Potter and The Cursed Child",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "J.R.R. Tolkien",
    "KitapAdi": "The Hobbit",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "J.R.R. Tolkien",
    "KitapAdi": "The Fellowship of the Ring",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "J.R.R. Tolkien",
    "KitapAdi": "The Two Towers",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "J.R.R. Tolkien",
    "KitapAdi": "Return of the King",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Hulki Cevizoglu",
    "KitapAdi": "İşgal ve Direniş",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Kazuo Ishiguro",
    "KitapAdi": "Günden Kalanlar",
    "Status": "Okunacak",
    "Tarih": ""
  },
  {
    "Author": "Daniel Defoe",
    "KitapAdi": "Robinson Crusoe",
    "Status": "Okunacak",
    "Tarih": ""
  },
  {
    "Author": "Haruki Murakami",
    "KitapAdi": "Sahilde Kafka",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Haruki Murakami",
    "KitapAdi": "1q84",
    "Status": "Okunacak",
    "Tarih": ""
  },
  {
    "Author": "Alan Watts",
    "KitapAdi": "",
    "Status": "",
    "Tarih": ""
  },
  {
    "Author": "Jordan Peterson",
    "KitapAdi": "12 Rules for Life",
    "Status": "Okunacak",
    "Tarih": ""
  },
  {
    "Author": "Jordan Peterson",
    "KitapAdi": "Maps of Meaning",
    "Status": "Okunacak",
    "Tarih": ""
  },
  {
    "Author": "Jostein Gaarder",
    "KitapAdi": "Sofi'nin Dünyası",
    "Status": "Okunacak",
    "Tarih": ""
  },
  {
    "Author": "Irvin D. Yalom",
    "KitapAdi": "Nietsche Ağladığında",
    "Status": "Okunacak",
    "Tarih": ""
  },
  {
    "Author": "Robert M. Pirsig",
    "KitapAdi": "Zen ve Motorsiklet Bakım Sanatı",
    "Status": "Okunacak",
    "Tarih": ""
  },
  {
    "Author": "Malcolm Gladwell",
    "KitapAdi": "Outliers",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Malcolm Gladwell",
    "KitapAdi": "Blink",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Sems-i Tebrizi",
    "KitapAdi": "Makalat",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "James Clear",
    "KitapAdi": "Atomic Habits",
    "Status": "Okunacak",
    "Tarih": ""
  },
  {
    "Author": "Eckhart Tolle",
    "KitapAdi": "The Power of Now",
    "Status": "Okunacak",
    "Tarih": ""
  },
  {
    "Author": "Koichi Tohei",
    "KitapAdi": "Ki Enerjisi",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Tara Westover",
    "KitapAdi": "Educated",
    "Status": "Okunacak",
    "Tarih": ""
  },
  {
    "Author": "Ray Dalio",
    "KitapAdi": "Principles",
    "Status": "Okunacak",
    "Tarih": ""
  },
  {
    "Author": "Amor Towles",
    "KitapAdi": "A Gentleman in Moscow",
    "Status": "Okunacak",
    "Tarih": ""
  },
  {
    "Author": "Roland Lazenby",
    "KitapAdi": "Michael Jordan: The Life",
    "Status": "Okunacak",
    "Tarih": ""
  },
  {
    "Author": "Jocko Willink",
    "KitapAdi": "Extreme Ownership",
    "Status": "Okunacak",
    "Tarih": ""
  },
  {
    "Author": "Takuan Soho",
    "KitapAdi": "The Unfettered Mind",
    "Status": "Okunacak",
    "Tarih": ""
  },
  {
    "Author": "Trevanian",
    "KitapAdi": "Kasaba",
    "Status": "Okunacak",
    "Tarih": ""
  },
  {
    "Author": "Trevanian",
    "KitapAdi": "Şibumi",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Don Winslow",
    "KitapAdi": "Satori",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Mario Puzo",
    "KitapAdi": "Omerta",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Mario Puzo",
    "KitapAdi": "The Godfather",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Mario Puzo",
    "KitapAdi": "The Sicilian",
    "Status": "Okunacak",
    "Tarih": ""
  },
  {
    "Author": "Mark Winegardner",
    "KitapAdi": "Baba Dönüyor",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Antoine de Saint-Exupéry",
    "KitapAdi": "Küçük Prens",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Chuang Tzu",
    "KitapAdi": "Chuang Tzu'nun Kitabi",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Ashlee Vance",
    "KitapAdi": "Elon Musk",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Hermann Hesse",
    "KitapAdi": "Siddharta",
    "Status": "Okundu",
    "Tarih": 2018
  },
  {
    "Author": "Paulo Coelho",
    "KitapAdi": "Simyaci",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Dan Brown",
    "KitapAdi": "Başlangıç",
    "Status": "Okundu",
    "Tarih": 2018
  },
  {
    "Author": "Dan Brown",
    "KitapAdi": "Melekler ve Şeytanlar",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Dan Brown",
    "KitapAdi": "Da Vinci'nin Şifresi",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Dan Brown",
    "KitapAdi": "Cehennem",
    "Status": "Okunacak",
    "Tarih": ""
  },
  {
    "Author": "Dan Brown",
    "KitapAdi": "Kayıp Sembol",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Dan Brown",
    "KitapAdi": "Digital Fortress",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Jean-Christophe Grange",
    "KitapAdi": "Kongo'ya Ağıt",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Jean-Christophe Grange",
    "KitapAdi": "Lontano",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Jean-Christophe Grange",
    "KitapAdi": "Kaiken",
    "Status": "Okunacak",
    "Tarih": ""
  },
  {
    "Author": "Bret Easton Ellis",
    "KitapAdi": "American Psycho",
    "Status": "Okunacak",
    "Tarih": ""
  },
  {
    "Author": "Chuck Palacniuk",
    "KitapAdi": "Dövüş Kulübü",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Stieg Larsson",
    "KitapAdi": "Ejderha Dövmeli Kız",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Stieg Larsson",
    "KitapAdi": "Ateşle Oynayan Kız",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Lars Kepler",
    "KitapAdi": "Hipnozcu",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Thomas More",
    "KitapAdi": "Ütopya",
    "Status": "Okunacak",
    "Tarih": ""
  },
  {
    "Author": "Thomas Hobbes",
    "KitapAdi": "Leviathan",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Platon",
    "KitapAdi": "Devlet",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Platon",
    "KitapAdi": "Gorgias",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Platon",
    "KitapAdi": "Sokrates'in Savunması",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Platon",
    "KitapAdi": "Şölen",
    "Status": "Okundu",
    "Tarih": "old"
  },
  {
    "Author": "Albert Camus",
    "KitapAdi": "Yabancı",
    "Status": "Okundu",
    "Tarih": 2004
  },
  {
    "Author": "Samuel Beckett",
    "KitapAdi": "Godot'yu Beklerken",
    "Status": "Okundu",
    "Tarih": 2004
  },
  {
    "Author": "Franz Kafka",
    "KitapAdi": "Dönüşüm",
    "Status": "Okundu",
    "Tarih": 2004
  },
  {
    "Author": "Phil Knight",
    "KitapAdi": "Shoe Dog",
    "Status": "Okundu",
    "Tarih": 2018
  },
  {
    "Author": "Ray Kroc",
    "KitapAdi": "Grinding it Out",
    "Status": "Okunacak",
    "Tarih": ""
  },
  {
    "Author": "Evan Thomas",
    "KitapAdi": "Being Nixon: A Man Divided",
    "Status": "Okunacak",
    "Tarih": ""
  },
  {
    "Author": "Nick Hays",
    "KitapAdi": "Elite",
    "Status": "Okunacak",
    "Tarih": ""
  },
  {
    "Author": "Joshua Foer",
    "KitapAdi": "Moonwalking with Einstein",
    "Status": "Okunacak",
    "Tarih": ""
  },
  {
    "Author": "Lawrency Levy",
    "KitapAdi": "To Pixar and Beyond",
    "Status": "Okunacak",
    "Tarih": ""
  },
  {
    "Author": "Viktor E. Frankl",
    "KitapAdi": "Man's Search for Meaning",
    "Status": "Okunacak",
    "Tarih": ""
  },
  {
    "Author": "Daron Acemoglu",
    "KitapAdi": "Why Nations Fail",
    "Status": "Okunacak",
    "Tarih": ""
  },
  {
    "Author": "David Wise",
    "KitapAdi": "A headache in the Pelvis",
    "Status": "Okunacak",
    "Tarih": ""
  },
  {
    "Author": "Simon Sinek",
    "KitapAdi": "Start with Why",
    "Status": "Okunacak",
    "Tarih": ""
  },
  {
    "Author": "John Carreyyou",
    "KitapAdi": "Bad Blood",
    "Status": "Okunacak",
    "Tarih": ""
  },
  {
    "Author": "Andy Puddicombe",
    "KitapAdi": "Mindfulness and Meditation",
    "Status": "Okunacak",
    "Tarih": ""
  },
  {
    "Author": "Ryan Holiday",
    "KitapAdi": "The Daily Stoic",
    "Status": "Okunacak",
    "Tarih": ""
  },
  {
    "Author": "Neil deGrasse Tyson",
    "KitapAdi": "Astrophysics for People in a Hurry",
    "Status": "Okunacak",
    "Tarih": ""
  },
  {
    "Author": "Thich Nhat Hanh",
    "KitapAdi": "The Art of Communicating",
    "Status": "Okunacak",
    "Tarih": ""
  },
  {
    "Author": "Ryan Holiday",
    "KitapAdi": "The Obstactle is the Way",
    "Status": "Okunacak",
    "Tarih": ""
  }
];
});



</script>
</html>
